.header-sidebar-toggle button {
  border-radius: 100px;
  padding: 0.5em;

  .d-icon {
    color: var(--secondary);
  }

  &:focus,
  &:hover {
    .d-icon {
      color: var(--primary-medium) !important;
    }
  }
}

.sidebar-wrapper {
  --d-sidebar-highlight-color: #{$light_gold};
  margin: 1.5em 0 1.5em 10px;

  background: transparent;
  top: calc(var(--header-offset) + 1.5em);
  @include border-radius-large;

  .has-sidebar-page & {
    box-shadow: 0 4px 0 1px $mud;
    border: 1px solid $mud;
  }
}

.sidebar-footer-wrapper .sidebar-footer-container {
  border-color: transparent;
}

.sidebar-section-link-wrapper .sidebar-section-link.active {
  background: $light_gold;
}

.sidebar-section-link-wrapper .sidebar-section-link:focus,
.sidebar-section-link-wrapper .sidebar-section-link:hover {
  background: $sand;
}

.sidebar-footer-wrapper .sidebar-footer-container::before {
  background: linear-gradient(
    to bottom,
    rgba(var(--secondary-low-rgb), 0),
    rgba(var(--secondary-low-rgb), 1)
  );
}
